In [33]:
import pandas as pd

In [79]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error, r2_score

In [35]:
df = pd.read_csv('dataframe_w_hours_days.csv')
df

,STATION ID,TIME,LAST UPDATED,NAME,BIKE_STANDS,AVAILABLE_BIKE_STANDS,AVAILABLE_BIKES,STATUS,ADDRESS,LATITUDE,LONGITUDE,DAY,HOUR,AVAILABILITY
0,1,2023-12-01 00:00:03,2023-11-30 23:58:15,CLARENDON ROW,31,31,0,OPEN,Clarendon Row,53.3409,-6.26250,Friday,0,0.000
1,2,2023-12-01 00:00:03,2023-11-30 23:58:47,BLESSINGTON STREET,20,14,6,OPEN,Blessington Street,53.3568,-6.26814,Friday,0,0.300
2,3,2023-12-01 00:00:03,2023-11-30 23:50:47,BOLTON STREET,20,12,7,OPEN,Bolton Street,53.3512,-6.26986,Friday,0,0.350
3,4,2023-12-01 00:00:03,2023-11-30 23:50:20,GREEK STREET,20,12,8,OPEN,Greek Street,53.3469,-6.27298,Friday,0,0.400
4,5,2023-12-01 00:00:03,2023-11-30 23:55:45,CHARLEMONT PLACE,40,5,35,OPEN,Charlemont Street,53.3307,-6.26018,Friday,0,0.875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4710833,113,2023-09-30 23:30:02,2023-09-30 23:28:30,MERRION SQUARE SOUTH,40,32,6,OPEN,Merrion Square South,53.3386,-6.24861,Saturday,23,0.150
4710834,114,2023-09-30 23:30:02,2023-09-30 23:29:08,WILTON TERRACE (PARK),40,39,1,OPEN,Wilton Terrace (Park),53.3337,-6.24834,Saturday,23,0.025
4710835,115,2023-09-30 23:30:02,2023-09-30 23:20:54,KILLARNEY STREET,30,6,24,OPEN,Killarney Street,53.3548,-6.24758,Saturday,23,0.800
4710836,116,2023-09-30 23:30:02,2023-09-30 23:26:04,BROADSTONE,30,21,9,OPEN,Broadstone,53.3547,-6.27231,Saturday,23,0.300
4710837,117,2023-09-30 23:30:02,2023-09-30 23:26:59,HANOVER QUAY EAST,40,35,5,OPEN,Hanover Quay East,53.3437,-6.23175,Saturday,23,0.125

In [43]:
df_single_station = df[df['STATION ID'] == 1]

In [44]:
df_single_station.head()

,STATION ID,TIME,LAST UPDATED,NAME,BIKE_STANDS,AVAILABLE_BIKE_STANDS,AVAILABLE_BIKES,STATUS,ADDRESS,LATITUDE,LONGITUDE,DAY,HOUR,AVAILABILITY
0,1,2023-12-01 00:00:03,2023-11-30 23:58:15,CLARENDON ROW,31,31,0,OPEN,Clarendon Row,53.3409,-6.2625,Friday,0,0.0
114,1,2023-12-01 00:30:02,2023-12-01 00:28:30,CLARENDON ROW,31,31,0,OPEN,Clarendon Row,53.3409,-6.2625,Friday,0,0.0
228,1,2023-12-01 01:00:03,2023-12-01 00:58:49,CLARENDON ROW,31,31,0,OPEN,Clarendon Row,53.3409,-6.2625,Friday,1,0.0
342,1,2023-12-01 01:30:03,2023-12-01 01:29:04,CLARENDON ROW,31,31,0,OPEN,Clarendon Row,53.3409,-6.2625,Friday,1,0.0
456,1,2023-12-01 02:00:02,2023-12-01 01:59:19,CLARENDON ROW,31,31,0,OPEN,Clarendon Row,53.3409,-6.2625,Friday,2,0.0

In [67]:
y = df_single_station['AVAILABILITY']

In [68]:
days_hours = df_single_station[['DAY', 'HOUR']]
days_hours['HOUR'] = days_hours['HOUR'].astype('category')

/tmp/ipykernel_153999/1770215399.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  days_hours['HOUR'] = days_hours['HOUR'].astype('category')

In [69]:
X = pd.get_dummies(days_hours)
X

,DAY_Friday,DAY_Monday,DAY_Saturday,DAY_Sunday,DAY_Thursday,DAY_Tuesday,DAY_Wednesday,HOUR_0,HOUR_1,HOUR_2,...,HOUR_14,HOUR_15,HOUR_16,HOUR_17,HOUR_18,HOUR_19,HOUR_20,HOUR_21,HOUR_22,HOUR_23
0,True,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
114,True,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
228,True,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
342,True,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
456,True,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4710268,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4710382,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4710496,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4710610,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4710724,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [70]:
X.shape, y.shape

((31803, 31), (31803,))

In [71]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Creating a linear regression model
model = LinearRegression()

# Training the model on the training data
model.fit(X_train, y_train)

# Making predictions on the testing data
y_pred = model.predict(X_test)

# # Plotting the results
# plt.scatter(X_test, y_test, color='black')
# plt.plot(X_test, y_pred, color='blue', linewidth=3)
# plt.xlabel('X')
# plt.ylabel('y')
# plt.title('Simple Linear Regression')
# plt.show()

In [72]:
df_coefs = pd.DataFrame(zip(X.columns, model.coef_))

In [73]:
df_coefs

                0             1
0      DAY_Friday  9.396067e+11
1      DAY_Monday  9.396067e+11
2    DAY_Saturday  9.396067e+11
3      DAY_Sunday  9.396067e+11
4    DAY_Thursday  9.396067e+11
5     DAY_Tuesday  9.396067e+11
6   DAY_Wednesday  9.396067e+11
7          HOUR_0 -5.834137e+11
8          HOUR_1 -5.834137e+11
9          HOUR_2 -5.834137e+11
10         HOUR_3 -5.834137e+11
11         HOUR_4 -5.834137e+11
12         HOUR_5 -5.834137e+11
13         HOUR_6 -5.834137e+11
14         HOUR_7 -5.834137e+11
15         HOUR_8 -5.834137e+11
16         HOUR_9 -5.834137e+11
17        HOUR_10 -5.834137e+11
18        HOUR_11 -5.834137e+11
19        HOUR_12 -5.834137e+11
20        HOUR_13 -5.834137e+11
21        HOUR_14 -5.834137e+11
22        HOUR_15 -5.834137e+11
23        HOUR_16 -5.834137e+11
24        HOUR_17 -5.834137e+11
25        HOUR_18 -5.834137e+11
26        HOUR_19 -5.834137e+11
27        HOUR_20 -5.834137e+11
28        HOUR_21 -5.834137e+11
29        HOUR_22 -5.834137e+11
30        HOUR_23 -5.834137e+11

In [80]:
# Calculate Mean Squared Error (MSE)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

# Calculate R-squared (R2)
r2 = r2_score(y_test, y_pred)
print("R-squared (R2):", r2)

Mean Squared Error: 0.06913890469217049
R-squared (R2): 0.2936240130124017